*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondos{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    opacity: 0.9;
    z-index: -1;
}

.contenedor{
    width: 80%;
    margin: auto;
    padding-top: 13px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.contenedor > * {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 10px black,
               -2px 2px 2px white;
}

@media (min-width:1000px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:700px){
    .contenedor{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
